body {
  background-color: black;

}

img {
    width: 100%;
}

.container {
  position: relative;
}

.topImage {
  margin: -1em;  //not sure if this is best practice but taking image to full screen is goal.
  position: absolute;
}

/*the HAYDN*/
.haydnLogo {
  max-width: 30%;
  position:absolute;
  top: 41%;
  left: 6%;

}

/*//the splash logo*/
.splashTopLogo {
  color: white;
  position: absolute;
  top: -.5em;
  right: 1.5em;
  font-family: 'Questrial', sans-serif;
  font-size: 1.25em;
}

/*.splashPianoteaser {
  z-index: 6000;
}*/
.pianoTeaser {
  z-index: 6000;
  position: absolute;
  max-width: 25%;
  top: 55%;
  left: 6%;
}
