* {
  font-family: 'Questrial', sans-serif;
}

// boostrap customization
$icon-font-path: '../fonts/';
$grid-gutter-width: 0;


// slick carousel customization
$slick-prev-character: '<'; // are there taller chevrons in the font?
$slick-next-character: '>';
$slick-font-path: '../fonts/';
$slick-loader-path: "/images/"; // TODO automate placement of slick ajax-loader.gif in app/img

.old-piano-row {
  max-height: 3em;
}



// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
@import "bower_components/slick-carousel/slick/slick-theme.scss";
// endbower

/////// Slick carousel overrides
// move arrows inside and on top of slick carousel
.slick-prev {
    left: 25px;
    z-index: 1;
}

.slick-next {
    right: 25px;
    z-index: 1;
}


// Why isn't font size and weight of arrows a variable?
.slick-prev:before, .slick-next:before {
    font-size: 40px;
    font-weight: bolder;
}

.fade {
  // opacity: .80;
  z-index: 1;
}


// This is to make the rows full-bleed
.container-fluid {
    padding: 0px;
    top: 0;
}


body {
  background-color: black;
  position: relative;
  z-index: 20;
}

img {
    width: 100%;
}
//from w3schools//
.affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }



.hline {
  width:100%;
  height:1px;
  background: #fff
}

.hlineGray {
  width: 85%;
  height: 1px;
  display: block;
  margin: 2px auto;
  background: #696969;
}

.hero_container {
  position: relative;
}
//
#pageContent{
  position: relative;
}

#theNav {
  background-color: black;
  z-index: 2;
}





.hero_container {
  position: relative;
}


/*the HAYDN*/
.haydnLogo {
  max-width: 30%;
  position:absolute;
  top: 41%;
  left: 6%;

}

/*//the splash logo*/
.splashTopLogo {
  color: white;
  position: absolute;
  top: 1em;
  right: 1.5em;
  font-family: 'Questrial', sans-serif;
  font-size: 1.25em;
}

/*.splashPianoteaser {
  z-index: 6000;
}*/
.pianoTeaser {
  z-index: 6000;
  position: absolute;
  max-width: 25%;
  top: 55%;
  left: 6%;
}

.navbar .navbar-inverse {
    min-height: 2em;
    padding-top: .25em;
    color: white;
    border: 1px solid white;
    top: 50%;
    position: relative;
    z-index: 50;



}


/***************************/
/********Haydn Quote********/
/***************************/
#haydnRowQuote {
  background-color: white;
  padding: 2em;
}

.haydnQuote h4 {
  margin-top: -.5em;
  font-size: 1.55em;
}

.colorText {
  color:  #cc9933;
  padding-left: 1.5em;
}

.author {
  p{
    margin-left: -2em;
    text-align: left;
    font-size: 1.25em;
  }
}


// this gives the placeholder rows some height.
// .placeholder-row {
//     min-height: 2em;
//     padding-top: .25em;
//     color: white;
//     border: 1px solid white;
// }


#team-header {
  text-transform: uppercase;
  padding-left: 2em;
  background-image: url(../images/photoBar/photoBarYellow.png);
  background-repeat:repeat;
  height: 100%;
  h1 {
    margin-top: .15em;
    color: white;
    font-size: 5em;
    font-weight: 200;
    margin-left: .85em;
    // TODO use brand colors
  }
}

.viewSpray {
  position: absolute;
  color: white;
  top: 45%;
  left: 40%;
  margin-top: 25%;
  text-transform: uppercase;
}

.sprayLightPic {
  width: 100%;
  height: auto;
  position: absolute;
}

.overlaySprayLight {
  width: 100%;
  height: auto;
  position: absolute;
}

.yellowTextBox {
  background-color: #cc9933;
  padding: 2em;
}

.videoArrow {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 30%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 15%;
}

.sandPaint {
  color: white;
  text-transform: uppercase;
}

.sprayFade img {
  width: 100%;
}

.slick-slider {
  margin-bottom: -10px;
}



.mapText {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 1em;
  font-size: 2em;
  z-index: 100;
  color: white;
  text-transform: uppercase;
}

.pdxMap2 {
  // position: absolute;
  // margin-top: 5%;

}

.bluePrintYellow {
  // position: absolute;
  padding: 25px;
  width: 100%;
  // z-index: 5000;
  background-color: #cc9933;
  h3 {
    color: white;
    text-transform: uppercase;
    text-align: center;
  }
}

.graphiti {
  z-index: 6000;
  background-color: white;
  padding: 1em;
}

.typography {
  background-color: #cc9933;

  // padding-top: 75px;

  h3 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 3em;
  }

  p {
    font-size: 1em;
    padding: 4em;
    padding-top: 1em;
  }
}

.typographyImg {
  width: 100%;
  height: auto;
  margin: 0;

}

.oregonMap {
  background-color: #333333;
}

.oregonOutline {
  padding: 1.5em;
}

.benchImages {
  width: 100%;
  height: auto;
}

.onSet {
  background-color: #333333;
  h3 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 1em 0em 1em 0em;
  }
}

.bigPianoCol {
  margin-top: 0;
  img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
}

.whiteBox {
  background-color: #fff;
  h3 {
    color: #cc9933;
    padding: 1em;
  }
  p {
    padding: 2em;
  }
}

.verticalLine {
  border-left: 1px solid #696969;
  height: 100%;
}

.credits {
  list-style: none;

}

.credits li {
  display: inline;
  padding: 1em;
}


.creditImg {
  width: 170px;
  padding-bottom: 3em;
}

#leoLogo {
  width: 40px;
}

.leoLogo {
  margin-right: 2em;
}

#leoName {
  width: 40px;
}

.creditWhite {
  background-color: #fff;
}

.creditImg {
  width: 150px;
}

#instaPics {
  list-style: none;

  li {
  display: inline-block;
  }
  .smallPics {
    width: 145px;
  }
}

.natureYellow {
  background-color: #cc9933;
  padding: 2.5em 2em;
}

#thankYou {
  text-transform: uppercase;
  padding-left: 2em;
  height: 100%;
  background-color: #303030;
  .thankYou {
    color: white;
    font-size: 5em;
    font-weight: 200;
    // TODO use brand colors
  }
}


.footer {
  p {
    color: white;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 6000;
  }
}
