* {
  font-family: 'Questrial', sans-serif;
}

// boostrap customization
$icon-font-path: '../fonts/';
$grid-gutter-width: 0;


// slick carousel customization
$slick-prev-character: '<'; // are there taller chevrons in the font?
$slick-next-character: '>';
$slick-font-path: '../fonts/';
$slick-loader-path: "/images/"; // TODO automate placement of slick ajax-loader.gif in app/img

.old-piano-row {
  max-height: 3em;
}



// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
@import "bower_components/slick-carousel/slick/slick-theme.scss";
// endbower

/////// Slick carousel overrides
// move arrows inside and on top of slick carousel
.slick-prev {
    left: 25px;
    z-index: 1;
}

.slick-next {
    right: 25px;
    z-index: 1;
}


// Why isn't font size and weight of arrows a variable?
.slick-prev:before, .slick-next:before {
    font-size: 40px;
    font-weight: bolder;
}

.fade {
  // opacity: .80;
  z-index: 1;
}


// This is to make the rows full-bleed
.container-fluid {
    padding: 0px;
    top: 0;
}


body {
  background-color: black;
  position: relative;
  z-index: 20;
}

img {
    width: 100%;
}
//from w3schools//
.affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }



.hline {
  width:100%;
  height:1px;
  background: #fff
}

.hlineGray {
  width: 85%;
  height: 1px;
  display: block;
  margin: 2em;
  padding: 0;
  background: #696969;
}

.hero_container {
  position: relative;
}
//
#pageContent{
  position: relative;
}

#theNav {
  background-color: black;
  z-index: 2;
}





.hero_container {
  position: relative;
}


/*the HAYDN*/
.haydnLogo {
  max-width: 30%;
  position:absolute;
  top: 41%;
  left: 6%;

}

/*//the splash logo*/
.splashTopLogo {
  color: white;
  position: absolute;
  top: 1em;
  right: 1.5em;
  font-family: 'Questrial', sans-serif;
  font-size: 1.25em;
}

.pianoTeaser {
  z-index: 6000;
  position: absolute;
  max-width: 25%;
  top: 55%;
  left: 6%;
}

.navbar .navbar-inverse {
    min-height: 2em;
    padding-top: .25em;
    color: white;
    border: 1px solid white;
    top: 50%;
    position: relative;
    z-index: 50;
}

#theNav li a {
  font-size: 1.25em;
}

/***************************/
/********Haydn Quote********/
/***************************/
#haydnRowQuote {
  background-color: white;
  padding: 2em;
}

// .haydnQuote h4 {
//   margin-top: -.5em;
//   font-size: 1.55em;
// }

.haydn1Quote {
  font-size: 1.75em;
}

.colorText {
  color:  #cc9933;
  padding-left: 1.5em;
  font-size: 1.75em;
}

.author {
    font-size: 1.25em;
  }



// this gives the placeholder rows some height.
// .placeholder-row {
//     min-height: 2em;
//     padding-top: .25em;
//     color: white;
//     border: 1px solid white;
// }


#team-header {

  text-transform: uppercase;
  padding-left: 2em;
  background-image: url(../images/photoBar/photoBarYellow.png);
  background-repeat:repeat;
  height: 100%;
  h1 {

    color: white;
    font-size: 8em;
    font-weight: 200;
    margin-left: .85em;
    // TODO use brand colors
  }
}

.teamRoll {
  display: inline-block;
}

.teamRoll img {
  width: 150px;

}

.haydnTable td {
 padding-top: 0;
 padding-bottom: 0;
 text-align: center;
}


#sandSpray {
  background-image: url(../images/photoBar/photoBarYellow.png);
  background-repeat:repeat;
}



.viewSpray {
  position: absolute;
  color: white;
  top: 45%;
  left: 40%;
  margin-top: 25%;
  text-transform: uppercase;
}

.sprayLightPic {
  width: 100%;
  height: auto;
  position: absolute;
}

.overlaySprayLight {
  width: 100%;
  height: auto;
  position: absolute;
}

.sandPaint {
  padding-top: 1em;
  padding-left: 1em;
  color: white;
  text-transform: uppercase;

}

.yellowTextBox {

}

.sandPaintText {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  // line-height: 1.75em;
}

.sprayFade img {
  width: 100%;
}



.slick-slider {
  margin-bottom: -10px;
}

.sprayFade {
  margin-bottom: 0px;
  margin-top: 5px;
}

.sprayFadeVid {
  margin-bottom: 0px;
  margin-top: 10px;
}

#trace {
  background-image: url(../images/blueprint/blueprintBlack.png);
  background-repeat:repeat;
}


.mapText {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 1em;
  font-size: 2em;
  z-index: 100;
  color: white;
  text-transform: uppercase;
}

#mapAnchor {
  background-color: black;
  margin: .5em;

}

.pdxMap2 {
  position: relative;
  margin-top: 0;
}

#bigMapModal {
  z-index: 10;
}

.bluePrintYellow {
  width: 100%;
  background-color: #cc9933;
  h3 {
    color: white;
    text-transform: uppercase;
    text-align: center;
  }
}

.graphiti {
  background-color: white;
  padding: 1em;
}


#typography {
  background-image: url(../images/photoBar/photoBarYellow.png);
  background-repeat:repeat;

  h3 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    line-height: 1.5em;
    font-size: 1em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }

}

.typography-items {
  width: 100%;
}



.oregonMap {
  background-color: #333333;
}

.oregonOutline {
  padding: 1.5em;
}

.benchImages {
  width: 100%;
}

.lampImg {
  width: 100%;
}

.onSet {
  background-color: #333333;
  h3 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 1em 0em 1em 0em;
  }
}

.bigPianoCol {
  margin-top: 0;
  img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
}

#stoppingToStart {
  background-color: #fff;
  padding-bottom: 1em;
  h3 {
      color: #cc9933;
      padding: 1em 1.75em;
  }
  p {
    padding: 2em 3em;
  }

}
.verticalLine {
  margin: 2em 2em;
  border-left: 1px solid #696969;
  height: 100%;
}

//credits for video//
table {
  td {
    padding-top: .75em;
    padding-left: 2em;
    padding-bottom: .75em;
  }
}
.leoPerforms {
  max-width: 100%;
}

#leoLogo {
  padding-top: 2em;
}

#leoName {
  width: 3em;
  margin-left: 1em;
}

#lanskyLogo {
  width: 85%;
  padding-top: 6em;



}

.creditWhite {
  background-color: #fff;
  margin: 0;
}

//leo logo and stuff//
.creditImg {
  width: 120px;
}

.smallPics {
  width: 100%;
}

#nature {
  background-image: url(../images/photoBar/photoBarYellow.png);
  background-repeat:repeat;
}

.natureYellow {

  //
  // background-color: #cc9933;
  padding: .5em 1em 1em 1em;
  height: auto;
  h3 {
    color: white;
  }
}

#thankYou {
  background-color: #303030;

  .thankYou {
    text-transform: uppercase;
    color: white;
    font-size: 8em;
    font-weight: 200;
    text-align: center;
    padding-top: .75em;
    // max-width: 679px;
    // TODO use brand colors
  }
}
  .naturePics {
    display: inline-block;
    width: 100%;
  }





.footer {
  p {
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 2em;
    padding-top: 2em;

  }
}

//media query //
 @media screen and (max-width: 1660px) {
   #team-header {
     display: none;
   }
 }

 @media screen and (max-width: 1422px) {

   #thankYou {
     .thankYou {
       font-size: 6em;
       padding-top: .3em;

      }
    }
  }

@media screen and (max-width: 532px) {

  .haydn1Quote {
    font-size: 1em;
  }

  .colorText {
    font-size: 1em;
  }
  .author {
      font-size: .75em;
    }

    #leoLogo {
      padding-left: 3em;
    }
    #lanskyLogo {
      padding-left: 3em;
    }

}

@media screen and (max-width: 376px) {
  #leoLogo {
    padding-left: 2em;
  }
  #leoName {
    padding-left: 2em;
    width: 5em;
  }
  #lanskyLogo {
      padding-left: 2em;

  }

  }




@media screen and (min-width: 1300px) {
  #typography {

    p {
      line-height: 1.5em;
      font-size: 1.15em;
      padding-top: 1.5em;
      padding-left: 1.5em;
      padding-right: 1.5em;
    }

  }
}
