* {
  font-family: 'Questrial', sans-serif;
}

$icon-font-path: '../fonts/';

$grid-gutter-width: 0;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// This is to make the rows full-bleed
.container-fluid {
    padding: 0px;
}

// this gives the placeholder rows some height.
.placeholder-row {
    min-height: 2em;
    padding-top: .25em;
    color: white;
    border: 1px solid white;
}


.team-header {
  text-transform: uppercase;
  padding-left: 2em;
  background-image: url(../img/photoBar/photoBarYellow.png);
  background-repeat:repeat;
  height: 100%;
  h1 {
    margin-top: .15em;
    color: white;
    font-size: 5em;
    font-weight: 200;
    // TODO use brand colors
  }
}

//sand and light row //
.viewSpray {
  position: absolute;
  color: white;
  top: 45%;
  left: 40%;
  margin-top: 25%;
  text-transform: uppercase;
}

.sprayLightPic {
  width: 100%;
  height: auto;
  position: absolute;
}

.overlaySprayLight {
  width: 100%;
  height: auto;
  position: absolute;
}

.yellowTextBox {
  background-color: #cc9933;
  padding: 2em;
}

.videoArrow {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 30%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 15%;
}

.sandPaint {
  color: white;
  text-transform: uppercase;
}

.mapText {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 5em;
  font-size: 2em;
  z-index: 5000;
  color: white;
  text-transform: uppercase;
}

.pdxMap2 {
  position: absolute;
}

.bluePrintYellow {
  width: 100%;
  padding: 55px;
  margin-top: 68%;
  position: absolute;
  z-index: 5000;
  background-color: #cc9933;

}

.blueprint {
  position: absolute;
  margin-top: 92%;
  z-index: 100;
}

.paintingMapPiano {
  position: absolute;
  margin-top:34%;
}

.pianoSketch {
  position: absolute;
  margin-top: 90%;
  z-index: 5000;
}
